body {
  margin: 0px;
  text-align: center;
}

nav {
  height: 50px;
  background-color: deepskyblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > a {
  color: white;
}

#banner {
  padding: 5px;
  background: url("https://cdn.pixabay.com/photo/2017/09/05/23/02/background-2719576_960_720.jpg");
}

#headshot {
  width: 150px;
  height: 150px;
  margin: 55px 25px 0px;
}

#experience {
  background-color: #00bfff91;
}

.about-info {
  display:flex;
  justify-content: space-between;
}

.about-info > p {
  margin-right: 20px;
}

ul {
  list-style: none;
}

.cnimage {
  height: 100px;
  width: 200px;
}
