body {
  margin: 0px;
  text-align: center;
}

nav {
  height: 50px;
  background-color: deepskyblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > a {
  color: white;
}

#banner {
  padding: 5px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLQJ0PxYT_BVyqwHnc8GL4d215YpFxfxp-VlG9TdWWh4UiFgk");
}

#headshot {
  width: 150px;
  height: 150px;
  margin: 55px 25px 0px;
}

.about-info {
  display:flex;
  justify-content: space-between;
}

.about-info > p {
  margin-right: 20px;
}
